.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkcyan;
  min-width: 100%;
  padding: 5px 50px;
}

.store-box {
  display: flex;
}

.store-sign {
  width: 50px;
}

.company-name {
  font-size: 2.2em;
  padding: 10px 0 0 5px;
  color: lightblue;
}

.cart-items {
  font-size: 3em;
  color: white;
}
.cart-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}
