.navbar {
  background-color: darkcyan;
  min-width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tag a {
  text-decoration: none;
}
.store {
  display: flex;
  align-items: center;
}

.store-sign {
  width: 50px;
}
.company-name {
  font-size: 2.2em;
  padding: 10px 0 0 5px;
  color: lightblue;
}
