.product-grid {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 50px;
  background-color: aqua;
  min-height: 90vh;
  min-width: 100vw;
}

.error-message {
  padding: 20px;
  font-size: 1.5em;
  color: black;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.product-title,
.product-price {
  margin: 15px 20px 25px;
  width: 250px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.product-image {
  width: 250px;
  height: auto;
}
.product-price {
  margin: 20px 20px 5px;
}

.product-button {
  width: 60%;
  height: auto;
  background-color: #ffbd31;
  color: rgb(10, 10, 80);
  font-weight: bold;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.product-button:disabled {
  background-color: grey;
}
